<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div>
		<h1>This page has been viewed by people in: </h1>
		<ul>
		  <% countryCount.map((country)=>{ %>
		    <li>
       			 <%- country.flag %>
			 <div><%= country.count %></div>
   		    </li>
		  <% }) %>
		</ul>
	</div>
</body>
</html>
