<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<h1 class="header">This page has been viewed by people in: </h1>
		<ul class="country-list">
		  <% countryCount.map((country)=>{ %>
		    <li class="country-item">
       			 <%- country.flag %>
			 <div><%= country.count %></div>
   		    </li>
		  <% }) %>
		</ul>
	</div>
</body>
</html>
